.priorities {
    padding-top: var(--padding-top-section);
    padding-bottom: 47px;
}

.priorities .container {
    display: flex;
}

.priorities-list {
    display: flex;
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
}

.priorities-div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.priorities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.priorities-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.priorities-item {
    flex-basis: calc(100% / 3 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
}