.social-footer-container {
    width: 206px;
    height: 80px;
}

.social-footer-title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    display: block;
}

.social-footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-footer-item {

&:not(:last-child) {
    margin-right: 10px;
  }
}

.social-footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff1a;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social-footer-icon {
    fill: var(--color-active-icon);
}